body {
    background-color: #F5F5F5;
}

.container {
    margin: 0 auto;
    width: 40em;
    max-width: 100%;
}

.about-section {
	margin-top: 5em;
    padding: 1em;
    height: 20em;
    /*border: 1px solid #17B76D;
    border-radius: 20px;
    background: #fff;*/
}

.about-section p {
    margin-top: 5em;
	text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #4B4E50;
}

.fa {
	color: #17B76D;
	font-size: 1.5em;
}

#prof-pic {
    float: left;
    border-radius: 20%;
    padding: 1em;
}
