@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: url('https://res.cloudinary.com/dbiyjyi0a/raw/upload/v1560342121/portfolio/fonts/AvenirLTStd-Medium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: url('https://res.cloudinary.com/dbiyjyi0a/raw/upload/v1560342121/portfolio/fonts/AvenirLTStd-MediumOblique.woff')
    format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: url('https://res.cloudinary.com/dbiyjyi0a/raw/upload/v1560342121/portfolio/fonts/AvenirLTStd-Heavy.woff')
    format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  font-display: swap;
  src: url('https://res.cloudinary.com/dbiyjyi0a/raw/upload/v1560342121/portfolio/fonts/AvenirLTStd-HeavyOblique.woff')
    format('woff');
  font-weight: bold;
  font-style: italic;
}