.button {
    margin-top: 2em;
    display: block;
    padding: 8px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    transition: 0.1s;
}

.button:hover {
    background-color: $primary-color;
    color: #FCFCFC;
    transform-style: ease-in;
    text-decoration: none;
}