#__next {
  height: 100%;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    padding: 50px 0;
  }
}

@mixin flex-center($flex-direction: row) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: center;
  align-items: center;
}

@mixin main-page-layout($flex-direction: row) {
  @include flex-center($flex-direction);
  height: 100%;
}

@mixin container-spacing {
  margin: 0 auto;
  padding: 0 15px;
}

@mixin container($size: lg) {
  @include container-spacing;

  @if $size == xl {
    max-width: $screen-xl;
  } @else if($size == lg) {
    max-width: $screen-lg;
  } @else if($size == md) {
    max-width: $screen-md;
  } @else if($size == sm) {
    max-width: $screen-sm;
  } @else if($size == sm) {
    max-width: $screen-xs;
  }
}

@mixin hide($screen-size) {
  @media (max-width: $screen-size) {
    display: none;
  }
}

.grid-container {
  @include container;
  display: grid;
}
