---
layout: default
---
<div class='page'>
  <div class="page-hero">
    <h1 class='page-hero-heading'><%= data.hero_title %></h1>
    <p class='page-hero-subheading'><%= data.hero_subtitle %></p>
  </div>
  <%= yield %>
</div>
