.project-preview {
  padding: 40px;
  width: 200px;
  text-align: center;
  display: grid;
  grid-gap: 10px;

  h2,p {
    margin: 0;
  }

  .project-preview-img {
    border-radius: 20%;
    width: 150px;
    height: 150px;
    justify-self: center;
  }
}