.contact-page {
  height: 100%;
  @include flex-center;

  .wrapper {
    font-size: 1.3rem;
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid $primary;
    border-radius: 5px;

    a {
      padding: 5px 0;
    }
  }
}