.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    font-size: 1.3rem;
    display: inline-flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 250px;
    border: 1px solid $primary;
    border-radius: 5px;

    a {
      padding: 5px 0;
    }
  }
}