.project-page {
  @include main-page-layout(column);

  h2 {
    color: $primary;
  }

  .project-title {
    text-align: center;
  }

  .project-page-sorry {
    font-size: 3rem;
  }

  .grid-container {
    @include display(grid);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'info image';
    grid-gap: 50px;
    align-items: center;

    @media (max-width: $screen-sm) {
      grid-template-areas: 'info info';
    }
  }

  .project {
    grid-area: info;
  }

  .project-image {
    @include display(none, $screen-sm);
    grid-area: image;
  }

  .project-image img {
    border-radius: 5px;
  }

  .btn {
    @include display(block);
    margin-top: 30px;
  }
}
