@mixin link-primary {
	color: $primary;
	text-decoration: none;

	&:hover {
		color: $primary-hover;
	}

	&:active {
		color: $primary-pressed;
	}
}

@mixin link-secondary {
	color: $text-base;
	text-decoration: none;

	&:hover {
		color: $primary-hover;
	}

	&:active {
		color: $primary-pressed;
	}
}

@mixin link-unstyled($color: $text-base, $underline: false) {
  color: $color;

  @if $underline == true {
    text-decoration: underline;
  } @else {
    text-decoration: none;
  }

  &:focus,
  &:hover {
    color: $color;
    @if $underline == true {
      text-decoration: underline;
    } @else {
      text-decoration: none;
    }
  }
}