body {
    background-color: #F5F5F5;
}

.title-section {
    color: #3F4043;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.title-section h1 {
    font-size: 50px;
}

#title-note {
    font-size: 15px;
}

#title-note a {
    text-decoration: none;
}

hr.style18 {
    margin-top: -10px;
    margin-bottom: -15px;
    height: 30px;
    border-style: solid;
    border-color: $primary-color;
    border-width: 1px 0 0 0;
    width: 280px;
}

hr.style18:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: $primary-color;
    border-width: 0 0 1px 0;
    border-radius: 10px;
}

.main-section {
    margin-top: 17%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #666666;
}

a:link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #666666;
    text-decoration: none;
}

a:visited {
    color: #666666;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: $primary-color;
    color: $primary-color;
}

@media (max-width: 1000px) {
    .main-section {
        margin-top: 25%;
    }
}

@media (max-width: 740px) {
    .main-section {
        margin-top: 35%;
    }
}