
#resume-page {
    min-height: 400px;
    display: block;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 80vh;
        #resume {
            padding: 10px;
            border: solid 1px $primary-color;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
            embed {
                height: 600px;
                width: 600px;
            }
            img {
                display: none;
            }
        }
        #resume-download {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            justify-content: space-between;
            .button {
                margin-left: 10px;
                margin-right: 10px;
                width: 60px
            }
        }
    }
}

@media (max-width: 850px) {
    #resume-page {
        .container {
            #resume {
                embed {
                    height: 600px;
                    width: 400px;
                }
            }
        }
    }
}

@media (max-width: 650px) {
    #resume-page {
        .container {
            height: 70vh;
            #resume {
                embed {
                    display: none;
                }

                img {
                    width: 250px;
                    display: block;
                }
            }
        }
    }
}

@media (max-height: 950px) {
    #resume-page {
        .container {
            #resume {
                embed {
                    height: 500px;
                }
            }
        }
    }
}

@media (max-height: 850px) {
    #resume-page {
        .container {
            #resume {
                embed {
                    height: 350px;
                }
            }
        }
    }
}

@media (max-height: 700px) {
    #resume-page {
        .container {
            height: 70vh;
            #resume {
                embed {
                    height: 600px;
                    width: 200px;
                    display: none;
                }

                img {
                    height: 300px;
                    display: block;
                }
            }
        }
    }
}

@media (max-height: 700px) {
    #resume-page {
        .container {
            height: 450px;
            #resume {
                img {
                    height: 300px;
                    display: block;
                }
            }
        }
    }
}